# Ignore Mac system files
.DS_Store
.vscode
*.dSYM
__pycache__

# Ignore C compiled binaries and object files
*.out
*.o
*.exe
sfpe_solver
nrutil.C
nrutil.h
notes.md
params.h

# Ignore Data files (Don't upload simulation results!)
*.csv
*.dat
*.txt
plots/
data/